.skills

.skills__component
  background-color: #eaeaea
  border: 1px solid #e2e2e2
  border-radius: 5px
  margin-bottom: 16px
  padding: 16px

.skills-list
  margin-left: 40px

.skills-xablau
  border-bottom: 1px solid black
  display: block
  font-weight: 600
  font-size: 16px
  line-height: 20px
  margin-bottom: 8px

.skills-grade
  float: right
  margin-left: 48px

.skills-label
