<div class="skills">
  <% for skill in skills %>
    <%= render "components/progress-bar/progress-bar", percentage: skill[:percentage], skill_name: skill[:name] %>

    <% for el in skill[:list] %>
      <div class="skills-list">
        <%= label_tag nil, class: 'skills-label' do %>
          <%= check_box_tag nil, nil, el[:checked], class: '', disabled: true %>
          <%= el[:name] %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
