<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2><i class="fa fa-handshake-o"></i> Desafio</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class = "row">
    <div class = "col-lg-8 col-lg-offset-2 col-xs-12">
      <div class = "ibox float-e-margins">
        <div class = "ibox-content">
          <h2>Opaaa, ouvi falar de desafio?</h2>
          <hr/>
          Nos diga o motivo para você solicitar um desafio aos líderes da sua área.
          <textarea class="form-control js-description" rows="5" placeholder="Descrição" style="resize:none"></textarea>
          <br/>
          Gostaria de desafiar para o nível: <input class="form-control"></input>
          <br/>
          <div align="right">
            <%= link_to "Solicitar Desafio!", profile_path, class:'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
