<div class="container-fluid main-container">
  <div class="row main-row">
    <div class= "col-md-6 main-image__wrapper">
      <%= image_tag("happyWorkplace.png", class: 'main-image') %>
    </div>
    <div class="col-md-6 slack-button__wrapper">
        <h1><strong>Evolutio</strong></h1>
        <h2>Plano de carreiras? Tá mais pra plano de felicidade.</h2>
    </div>
  </div>
</div>
