<div class="container-fluid main-container">
  <div class="row main-row">
    <div class= "col-md-6 main-image__wrapper">
      <%= image_tag("happyWorkplace.png", class: 'main-image') %>
    </div>
    <div class="col-md-6 slack-button__wrapper">
        <h1 style="font-size: 50px"><strong>Evolutio</strong></h1>
        <h2>Você no controle de sua carreira.</h2>
        <%= sign_in_with_slack_button %>
    </div>
  </div>
</div>
