<div class="progress-bar__wrap">
  <div class="progress-bar__bar progress-<%= percentage %> centered-element">
    <div class="progress-bar__overlay centered-element"><%= percentage %>%</div>
  </div>
  <div class="progress-bar__skill-name">
    <p><%= skill_name %></p>
  </div>
</div>
