<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Evolutio</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/profile">Perfil</a></li>
        <li><a href="#skills">Habilidades</a></li>
        <li><a href="/challenge">Desafio</a></li>
        <li><a href="#evaluate">Avaliar</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="./">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
