<div class="footer">
    <div class="pull-right">
        #mereceGanhar
    </div>
    <div>
        <strong>Evolutio.</strong> Plano de carreira? Tá mais pra plano de felicidade
    </div>
</div>
