<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#" style="background-color: #00B5D4"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
              <%= link_to "Sair", root_path %>
            </li>
        </ul>
    </nav>
</div>
